node_modules
public/jspm_packages
public/bower_components
public/build.js
public/build.js.map
builds/
dist
docs
coverage
junit
public/styles/app.css
public/styles/sourcemaps/app.css.map
.idea
*.iml
.project
npm-debug.log
*.log
public/styles/*.css
public/styles/**/*.css
