<link rel="stylesheet" type="text/css" href="styles/heatmap/styles/heatmap.css">
<px-card>
    <div id="chart"></div>
</px-card>

<px-card id="heatmap-modal">
</px-card>

<px-card ng-show="showModal" class="animate-show">
    <px-chart tooltip-type="condensed" id="my-chart">
        <px-chart-yaxis title='{"text": "Left Axis"}' id="fuel_flow" offset="0"></px-chart-yaxis>
        <px-chart-yaxis title='{"text": "Right Axis"}' id="power_output" opposite="true" offset="-2.5"></px-chart-yaxis>
        <px-chart-series-line id="TAG_GRACIA_FUELFLOW" axis-id="fuel_flow" data="{{flow_series}}"></px-chart-series-line>
        <px-chart-series-line id="TAG_GRACIA_POWER" axis-id="power_output" data="{{output_series}}">
        </px-chart-series-line>
    </px-chart>
</px-card>


