// px-theme/sass/px-app.scss

// Settings
@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// px-viewport configuration variables are documented in the px-viewport Readme.md:
// https://github.com/predixdev/px-viewport-design
$desk-wide-width: auto; // defaults to 100%
$desk-wide-max-width: none; // defaults to 80rem
$viewport-margin: 2rem; // defaults to auto

// Base
@import "px-viewport-design/_base.viewport.scss";
@import "px-flexbox-design/_base.flexbox.scss";
// typography and iconography are all handled by pxh-chrome
// $fa-version         : "4.4.0" !default;
// $inuit-webfont-path: '../bower_components/px-typography-design/type' !default;
// $predix-font-family : "GE Inspira Sans", sans-serif !default;
// @import "px-typography-design/_base.typography.scss";
@import "px-code-design/_base.code.scss";
@import "px-headings-design/_base.headings.scss";
// typography and iconography are all handled by pxh-chrome
// $fa-font-path       : "../bower_components/font-awesome/fonts" !default;
// $fa-version         : "4.4.0" !default;
// @import "px-iconography-design/_base.iconography.scss";

// Meta
@import "px-meta-lists-design/_meta.lists.scss";

// Objects
$inuit-enable-btn--bare     : true;

@import "px-buttons-design/_objects.buttons.scss";

$inuit-enable-layout--small : true;
$inuit-enable-layout--flush : true;
$inuit-enable-layout--full  : true;

@import "px-layout-design/_objects.layout.scss";
@import "px-mixins-design/_tools.mixins.scss";

// px-theme/sass/px-theme.scss

//
// component theme variables
//

// :root{
//   @import "px-iconography-design/_base.iconography.scss";
//   @import "px-typography-design/_base.typography.scss";

//   --px-app-nav-background-color:            $gray10;
//   --px-app-nav-link-text-color:             $white;
//   --px-app-nav-link-selected-color:         $select-blue-pressed;
//   --px-app-nav-link-selected-active-color:  $select-blue-hover;
//   --px-app-nav-link-hover-color:            $gray8;
//   --px-app-nav-link-active-color:           $primary-blue-hover;


//   --px-font-family: $predix-font-family;

// }


//
// page theme variables
//

$px-page-html-background-color: $gray5;
$px-page-link-color: $gray5;
$px-page-spine-border-color: $gray8;
$px-page-spine-text-color: $white;
$px-page-bold-text-color: $gray3;
$px-page-card-border-color: $gray3;
$px-page-card-background-color: $white;
$px-page-card-text-color: $black;
$px-page-card-paragraph-text-color: $gray5;
$px-page-banner-text-color: $gray4;
$px-page-banner-meatball-color : $gray4;
$px-page-main-content-area-background-color: $graybg;

// this is the third time we've imported these fonts...
// @include font-face('GE Inspira', '#{$inuit-webfont-path}/GEInspMd');
// @include font-face('GE Inspira', '#{$inuit-webfont-path}/GEInspMdIt', normal, italic);
// @include font-face('GE Inspira', '#{$inuit-webfont-path}/GEInspBd', bold, normal);
// @include font-face('GE Inspira', '#{$inuit-webfont-path}/GEInspBI', bold, italic);
// @include font-face('GE Inspira Sans', '#{$inuit-webfont-path}/GEInspiraSans-Regular-v01');
// @include font-face('GE Inspira Sans', '#{$inuit-webfont-path}/GEInspiraSans-Italic-v01', normal, italic);
// @include font-face('GE Inspira Sans', '#{$inuit-webfont-path}/GEInspiraSans-Bold-v01', bold, normal);
// @include font-face('GE Inspira Sans', '#{$inuit-webfont-path}/GEInspiraSans-BoldItalic-v01', bold, italic);
// @include font-face('GE Inspira Serif', '#{$inuit-webfont-path}/GEInspiraSerif-Regular-v01');
// @include font-face('GE Inspira Serif', '#{$inuit-webfont-path}/GEInspiraSerif-Italic-v01', normal, italic);
// @include font-face('GE Inspira Serif', '#{$inuit-webfont-path}/GEInspiraSerif-Bold-v01', bold, normal);
// @include font-face('GE Inspira Serif', '#{$inuit-webfont-path}/GEInspiraSerif-BoldItalic-v01', bold, italic);

// html {
//   font-family: $predix-font-family;
// }

// :host {
//   font-family: $predix-font-family;
// }

// this is the third time we've imported these fonts...
// @font-face {
//   font-family: 'FontAwesome';
//   src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
//   src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
//     url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
//     url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
//     url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
//     url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
// //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
//   font-weight: normal;
//   font-style: normal;
// }

// px-theme/sass/px-app.scss continued...

// App
html {
  position: relative;
  min-height: 100%;
  background-color: $px-page-html-background-color;
}

body {
  margin-bottom: calculateRem(60px);
}

[role=banner], [role=contentinfo] {
  height: calculateRem(60px);
}

[role=banner] {
  width: 100%;
  display: block;
  margin: auto;
  h1, h2 {
    @include inuit-font-size(24px);
    margin: 0;
    line-height: calculateRem(60px);
    font-weight: normal;
    color: $px-page-banner-text-color;
    display:inline-block;
    svg {
      margin-bottom: -.1em;
      path{
        fill: $px-page-banner-meatball-color;
      }
    }

  }
  h2 {
    color:$gray6;
    @include media-query(palm) {
      display: none;
    };
  }
}

.content-wrapper {
  position: relative;
  display: flex;
}

main {
  min-height: calc(100vh - #{calculateRem(120px)});
  margin-left: 0;
  background-color: $gray7;
  @include media-query(portable) {
    margin-left: calculateRem(55px);
  };
  @include media-query(desk) {
    margin-left: 0;
  };
  flex: 1;
}

[role=contentinfo] {
  @include inuit-font-size(12px);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $px-page-link-color;
  a {
    text-decoration: none;
    color: $px-page-link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.efficiency-label{
  font-size: larger;
  font-weight: bold;
  padding-right: 20px;
}

/********************************************************************
 * CSS DEPENDENCIES
 *
 * This area is reserved for importing CSS dependencies that in
 * some way extend the application.
 *******************************************************************/
@import "_modal.scss";
@import "_popover.scss";

/********************************************************************
 * CSS FEATURE IMPORTS
 *
 * This area is reserved for importing CSS developed as part of an
 * application feature.
 *******************************************************************/

@import "no-access.scss";
@import "dropdown-menu.scss";
@import "_overrides.scss";

// Application-wide common stuff
@import "./_pxh-card";
@import "../modules/assetMgmt/styles/assetMgmt";

/********************************************************************
 * FLAGS FOR PXd modules Trumps
 *
 * This area is reserved for setting flags for  PXd styles
 *******************************************************************/
$inuit-enable-margins                   : true;
$inuit-enable-margins--tiny             : true;
$inuit-enable-margins--small            : true;
$inuit-enable-margins--large            : true;
$inuit-enable-margins--huge             : true;
$inuit-enable-margins--none             : true;
$inuit-enable-margins--rtl              : true;

$inuit-enable-margins--negative         : true;
$inuit-enable-margins--negative-tiny	: true;
$inuit-enable-margins--negative-small	: true;
$inuit-enable-margins--negative-large	: true;
$inuit-enable-margins--negative-huge	: true;

$inuit-enable-margins--none 	        : true;

$inuit-enable-paddings                  : true;
$inuit-enable-paddings--tiny            : true;
$inuit-enable-paddings--small           : true;
$inuit-enable-paddings--large           : true;
$inuit-enable-paddings--huge            : true;
$inuit-enable-paddings--none            : true;

$inuit-enable-toggle--small: true;
/********************************************************************
 * CSS DEPENDENCIES
 *
 * This area is reserved for importing PXd styles
 *******************************************************************/
@import "px-spacing-design/_trumps.spacing.scss";
@import "px-widths-design/_trumps.widths.scss";

// hack to override embedded polymer apps with misplaced .viewport classes
.viewport .viewport {
  margin-left: 0;
  margin-right: 0;
}

/********************************************************************
 * CUSTOM APPLICATION LEVEL CSS
 *
 * This area is reserved for the Style rules that apply to the
 * application. Feature level CSS should be contained in it own
 * CSS file thats is located with it's other assets. See imports
 * above as a guide to the location of new features.
 *******************************************************************/
